---
seo_title: Chicago Web Design
permalink: :path
---
<div class="intro">
  <div class="intro__banner">
    <div class="container">
      <section>
        <h1>Your <em>partners</em> in web design</h1>
      </section>
      <a href="#projects" class="vertical">
        View Projects
        <span class="icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29.7 7"><polygon class="sa" points="24.3 7 0 7 0 5 24.3 5 20.8 1.4 22.2 0 29.7 7 24.3 7"/></svg>
</span>
      </a>
    </div> <!-- / .container -->
  </div> <!-- / __banner -->
  <div class="row">
    <div class="container">
      <div class="row__side">
        <section class="row__content">
          <h2>About us</h2>
          <p>Here at Polymer Digital we love helping our customers market their services and products. With our creative designers, talented developers and unmatched customer service we can help you with all of your website needs.</p>
        </section> <!-- / __content -->
      </div> <!-- / __side -->
      <div class="row__side">
        <img class="small" src="/assets/resources/illustration.png" alt="illustration">
      </div> <!-- / __side -->
    </div> <!-- / .container -->
  </div> <!-- / .row -->
  <div class="row">
    <div class="container">
      <div class="row__side">
        <img src="/assets/resources/phone-mockup.png" class="small">
      </div> <!-- / __side -->
      <div class="row__side">
        <section class="row__content">
          <h2>We're a customer service company specializing in web design</h2>
          <p>Your satisfaction is our priority. We believe in working with great teammates for amazing people on awesome projects. Whether it's a marketing website, an eCommerce store, or a web app we'll help you with a smile!</p>
          <a href="/company/" class="button button--line button--line--light">Learn More</a>
        </section> <!-- / __content -->
      </div> <!-- / __side -->
    </div> <!-- / .container -->
  </div> <!-- / .row -->
</div> <!-- / .intro -->
<div class="section">
  <div class="container">
    <div class="heading">
      <h2>What We Do</h2>
    </div> <!-- / .heading -->
    <div class="services">
      {% for service in site.data.services %}
        <div class="services__item">
          <div class="services__item__inner">
            <img src="/assets/resources/{{ service.icon }}" alt="{{ service.title }}">
            <a href="{{ service.url }}">{{ service.title }}</a>
          </div> <!-- / __inner -->
        </div> <!-- / __item -->
      {% endfor %}
    </div> <!-- / .services -->
  </div> <!-- / .container -->
</div> <!-- / .section -->

<div class="banner" style="background-image:url(/assets/resources/cta.jpg);">
  <div class="container">
    <section class="banner__content">
      <h2>Hiring a web design studio <em>shouldn't</em> be difficult</h2>
      <p>Let us show you how fun and stress free working with a real and authentic team can be!</p>
      <a href="/contact" class="button button--light">Contact Us</a>
    </section> <!-- / __content -->
  </div> <!-- / .container -->
</div> <!-- / .banner -->

<div class="section" id="projects">
    <div class="container">
      <div class="heading">
        <h2>Recent Work</h2>
      </div> <!-- / .heading -->
    </div> <!-- / .container -->
    
    <div class="work-grid2">
      <div class="container">

        {% assign posts = site.work | sort: 'order' | limit: 2 %}
        {% for post in posts %}
          {% if post.homepage %}
            <a href="{{ post.url }}" class="work-preview">
              <div class="chrome">
                <span class="chrome-button"></span>
                <span class="chrome-button"></span>
                <span class="chrome-button"></span>
                {{ post.title }}
              </div>
              <div class="thumbnail" style="background-image: url({{ post.thumbnail }});"></div>
            </a>
          {% endif %}
        {% endfor %}

      </div><!-- / . container -->
    </div><!-- / .work-grid2 -->
    <div class="container button-container">
      <a href="/work/" class="button button--white">View More Work</a>
    </div>
  </div> <!-- / .section -->

    <div class="section dark">
    <div class="container">
      <div class="heading">
        <h2>Recent Articles & Thoughts</h2>
      </div> <!-- / heading -->
      <div class="blog">
        {% assign posts = site.articles | sort: 'date' | reverse %}
        {% for post in posts limit: 3 %}
          <div class="blog__item">
            <section>
              <h6>{% if post.linkedin_url %}Quick Read{% else %}Article{% endif %}</h6>
              <h3>{{ post.title }}</h3>
              <p>{{ post.preview }}</p>
              <a href="{{ post.url }}" class="button button--line">Read More</a>
            </section>
            <div class="image" style="background-image:url(/assets/resources/{% if post.featured_image %}{{ post.featured_image }}{% else %}featured-image-default.jpg{% endif %});"></div>
          </div> <!-- / __item -->
        {% endfor %}
        <div class="button-container">
          <a href="/articles" class="button button--light">Read More</a>
        </div> <!-- / .button-container -->
      </div> <!-- / .container -->
    </div> <!-- / .blog -->
  </div> <!-- / .section -->