///Utitlities Resets

// Base default styles. Spacing resets for the most part.
svg{
  max-width: 100%;
  max-height: 100%;
}
img, iframe {
  max-width: 100%;
}
svg path, svg g{
  fill: inherit;
}

// Body text styling
b, strong{
  font-weight: 700;
}
i, em{
  font-style: italic;
}
.hidden {
  display: none;
}
a {
  color: #FF5722;
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: #1A237E;
  }
}

// Table styling

table{
  width: 100%;
}
th,
td {
  padding: 1.2rem 1.5rem;
  text-align: left;
  border-bottom: 1px solid #dadada; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }
