//////SVG Icon styling
//skinny-arrow
.sa {
  fill: #fff;
  transition: $dt;
}

//Social Icons
.social-a {
  fill: $primary;
  transition: $dt;
}

//Contact Icons
.a-contact {
  fill: $secondary;
  transition: $dt;
}
