// Site Typography
@mixin h1($margin : 0) {
  font-family: $exo;
  font-size: 3.75em;
  line-height: 1.06;
  margin-bottom: $margin;
  font-weight: 700;
}

@mixin h2($margin : 15px) {
  font-family: $exo;
  font-size: 2.25em;
  line-height: 1.11;
  margin-bottom: $margin;
  font-weight: 700;
}

@mixin h3($margin : 15px) {
  font-family: $exo;
  font-size: 1.5em;
  line-height: 1.1;
  margin-bottom: $margin;
  font-weight: 700;
}

@mixin h4($margin : 0px) {
  font-family: $exo;
  font-size: .75em;
  line-height: 1.1;
  margin-bottom: $margin;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@mixin p($margin : 30px) {
  font-size: 1em;
  line-height: 1.8;
  margin-bottom: $margin;
}
@mixin p-lrg($margin : 30px) {
  font-size: 1.125em;
  line-height: 1.8;
  margin-bottom: $margin;
}

@mixin p-small($margin : 30px) {
  font-size: .875em;
  line-height: 1.7;
  margin-bottom: $margin;
}

@mixin ul($margin : 30px) {
  padding-left: 20px;
  margin-bottom: $margin;
  li {
    list-style: none;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 1.125em;
    line-height: 1.8;
    position: relative;
    &:before {
      content: '';
      left: -10px;
      position: absolute;
      top: 14px;
      width: 14px;
      height: 1px;
      background: $primary;
    }
  }
}
@mixin ol($margin : 30px) {
  padding-left: 20px;
  margin-bottom: $margin;
  li {
    list-style: decimal;
    font-size: 1.125em;
    margin-bottom: 15px;
    line-height: 1.8;
    padding-left: 30px;
    position: relative;
  }
}
@mixin a-link {
  transition: $dt;
  color: $primary;
  &:hover {
    color: $secondary;
  }
}
@mixin blockquote {
  font-size: 2.25em;
  line-height: 1.1;
  font-weight: 700;
  font-family: $exo;
  &:before {
    content: '';
    width: 30px;
    height: 24px;
    background: url(../resources/quote.svg) no-repeat center center;
    background-size: contain;
    display: block;
    margin-bottom: 20px;
  }
}
