//Blog Details
.blog-details {
  color: $grey-dark;
  padding-bottom: 100px;
  &__article {
    @include breakpoint(500px) {
      font-size: 80%;
    }
  }
  .read {
    @include h4(0);
    color: $grey;
    font-weight: 400;
  }
  &__footer {
    width: 100%;
    border-top: 1px solid $grey-light;
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .button {
      border-radius: 6px;
    }
    .author {
      display: flex;
      align-items: center;
      &__content {
        p {
          @include h4();
          font-weight: 400;
          color: $grey;
        }
        strong {
          color: $primary;
          margin-top: 5px;
          display: block;
        }
      }
    }
    img {
      width: 16px;
      display: inline-block;
      margin-right: 20px;
    }
  }
}
.featured-image {
  width: 100%;
  position: relative;
  margin: 20px 0 40px;
  img {
    display: block;
    border-radius: 6px;
    box-shadow: $shadow;
  }
  .button {
    position: absolute;
    z-index: 10;
    left: 50px;
    bottom: 30px;
    border-radius: 6px;
    background: rgba(255,255,255,.5);
    &:hover {
      color: $primary;
      background: $white;
    }
    @include breakpoint(600px) {
      left: 20px;
      bottom: 20px;
    }
  }
}

.linkedin-blurb {
  box-shadow: 0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);
  margin: 40px 0;
  padding: 15px 15px 0;

  .linkedin {
    border-top: 1px solid #E6E6E6;
    color: #0078B4;
    display: block;
    margin-top: 15px;
    padding: 15px 0;
    text-align: center;

    svg {
      height: auto;
      fill: #0078B4;
      margin-right: 5px;
      width: 16px;
    }
  }
}
