//Case Study
.case-study {
  width: 100%;
  padding: 0 0 100px;
  &__heading {
    width: 100%;
    display: flex;
    padding: 20px 0 40px;
    justify-content: space-between;
    h2 {
      @include h4(0);
      color: $primary;
    }
    p {
      @include h4(0);
      color: $grey-med;
    }
  }
  .three-col,
  .two-col {
    img {
      width: 100%;
    }
  }
  &__section {
    width: 100%;
    padding: 80px 0;
    @include breakpoint(900px) {
      padding: 40px 0 0;
    }
  }
  .space {
    margin: 20px 0;
  }
  .shadow {
    box-shadow: $shadow;
  }
}

.screenshots {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 80px;
}

.screenshot {
  background: linear-gradient(244.13deg,#f3f3f3,#f9f9f9);
  border: 1px solid rgba($primary, .2);
  border-radius: 6px;
  color: #5B616E;
  display: block;
  margin: 0 12px 24px;
  position: relative;
  width: calc((100% / 2) - 24px);
  transition: $dt;
  backface-visibility: visible;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 24px 36px 0 rgba(0,0,0,0.15);
    transition: 0.2s all ease-in-out;
    opacity: 1;
    border-radius: 6px;
  }

  &:hover::before {
    opacity: 0;
  } 

  @include breakpoint(900px) {
    width: 100%;
  }

  .chrome {
    border-bottom: 1px solid rgba($primary, .2);
    font-family: sans-serif;
    font-size: .8em;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    position: relative;

    .chrome-button {
      background: #dfdfdf;
      border-radius: 50%;
      height: 10px;
      position: absolute;
      left: 5px;
      margin-top: -5px;
      top: 50%;
      width: 10px;

      &:nth-child(2) {
        left: 18px;
      }

      &:nth-child(3) {
        left: 31px;
      }

    }
  }

  &:hover .chrome .chrome-button {
    background-color: #aaa;
  }

  .thumbnail {
    background-size: cover;
    background-position: top;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 400px;
    overflow: hidden;
    position: relative;
    transition: background-position 4s ease-in-out,opacity 4s ease-in-out; 

    &::before {
      background: $primary;
      content: "";
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      transition: opacity 4s;
      opacity: .8;
      width: 100%;
    }

  }

  &:hover .thumbnail {
    background-position: bottom;

    &::before {
      opacity: 0;
    }
  }

}
