//Case Study
.case-study {
  width: 100%;
  padding: 0 0 100px;
  &__heading {
    width: 100%;
    display: flex;
    padding: 20px 0 40px;
    justify-content: space-between;
    h2 {
      @include h4(0);
      color: $primary;
    }
    p {
      @include h4(0);
      color: $grey-med;
    }
  }
  .three-col,
  .two-col {
    img {
      width: 100%;
    }
  }
  &__section {
    width: 100%;
    padding: 80px 0;
    @include breakpoint(900px) {
      padding: 40px 0 0;
    }
  }
  .space {
    margin: 20px 0;
  }
  .shadow {
    box-shadow: $shadow;
  }
}
