//Three Column
.three-col {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  &__col {
    width: calc((100% / 3) - 30px);
    margin-right: 40px;
    margin-bottom: 40px;
    &:nth-child(3n) {
      margin-right: 0;
      @include breakpoint(850px) {
        margin-right: auto;
      }
    }
    @include breakpoint(850px) {
      width: calc((100% / 2) - 14px);
      margin-right: 0;
      &:nth-child(2n) {
        margin-left: 20px;
      }
    }
    @include breakpoint(500px) {
      width: 100%;
      margin-right: 0;
      &:nth-child(2n) {
        margin-left: 0px;
      }
    }
  }
}

//Two Columns
.two-col {
  width: 100%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  &__col {
    width: calc((100% / 2) - 80px);
    margin-right: 160px;
    &:nth-child(even) {
      margin-right: 0;
    }
    @include breakpoint(900px) {
      width: calc((100% / 2) - 20px);
      margin-right: 40px;
    }
    @include breakpoint(500px) {
      width: 100%;
      margin-right: 0;
    }
  }
}
