//Simple Intro
.simple-intro {
  width: 100%;
  background: $primary no-repeat right center url(../resources/header.png);
  background-size: 1450px;
  padding: 170px 0 150px;
  color: $white;
  &.bottom {
    background-position: right bottom;
  }
  @include breakpoint(900px) {
    padding-bottom: 100px;
  }
  .container {
    max-width: 880px;
    &.full {
      max-width: 1280px;
    }
  }
  .heading {
    em {
      color: $secondary;
      font-style: normal;
      font-weight: 400;
    }
  }
  p {
    text-align: left;
  }
  @include breakpoint(1170px) {
    background-size: 1170px;
  }
  @include breakpoint(700px) {
    background-position: center center;
  }
  &__columns {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    h1 {
      @include h1(30px);
    }
    .details {
      width: 44%;
      @include breakpoint(1100px) {
        width: 450px;
      }
      @include breakpoint(830px) {
        width: 100%;
      }
      p {
        @include h4(0);
      }
    }
    .description {
      width: 42%;
      @include breakpoint(1100px) {
        width: calc(100% - 450px);
        padding-left: 40px;
      }
      @include breakpoint(830px) {
        width: 100%;
        margin-top: 40px;
        padding-left: 0;
      }
      h2, h3 {
        @include h4(15px);
      }
      p {
        @include p(0);
      }
    }
  }
  &__services {
    width: 100%;
    margin-top: 60px;
    @include breakpoint(900px) {
      margin-top: 30px;
    }
    li {
      display: inline-block;
      @include h4(0);
      margin-bottom: 20px;
      font-weight: 400;
      margin-right: 60px;
      @include breakpoint(900px) {
        margin-right: 30px;
      }
      strong {
        display: block;
        margin-top: 10px;
        text-transform: none;
        letter-spacing: 1px;
        font-size: 1.33em;
        font-family: $muli;
      }
    }
  }
}
