{% include header.html %}

<div class="blog-details pt">
    <div class="container sz-700">
      {% if page.categories %}
        <div class="category category--dark">
          <p><strong>Category</strong></p>
          <ul>
            {% for category in page.categories %}
              <li>{{ category }}</li>
            {% endfor %}
          </ul>
        </div> <!-- / .category -->
      {% endif %}
      <article class="blog-details__article content">
        <h1>{{ page.title }}</h1>

        {% if page.banner_image %}
          <div class="featured-image">
            <img src="/assets/resources/{{ page.banner_image }}">
          </div> <!-- / .featured-image -->
        {% endif %}

        {{ content }}

        <footer class="blog-details__footer">
          <div class="author">
            <img src="/assets/resources/polymer.svg">
            <div class="author__content">
              <p>Written by</p>
              <p><strong>{{ page.author }}</strong></p>
            </div> <!-- / __content -->
          </div> <!-- / .author -->
          <a href="/articles" class="button button--square">Go Back</a>
        </footer>
      </article>
    </div> <!-- / .container -->
  </div> <!-- / .blog-details -->

  <div class="banner" style="background-image:url(/assets/resources/cta.jpg);">
  <div class="container">
    <section class="banner__content">
      <h2>Sharing knowledge is a <em>passion</em> of ours</h2>
      <p>Let's have a conversation to see exactly how we can help you with your website</p>
      <a href="/contact-us/" class="button button--light">Contact Us</a>
    </section> <!-- / __content -->
  </div> <!-- / .container -->
</div> <!-- / .banner -->

{% include footer.html %}