<div class="intro">
    <div class="intro__banner">
        <div class="container">
            <section>
                <h1>Your
                    <em>partners</em>
                    in web design</h1>
            </section>
            <a class="vertical" href="#">
                View Projects
                <span class="icon">
                    <svg viewbox="0 0 29.7 7" xmlns="http://www.w3.org/2000/svg"><polygon class="sa" points="24.3 7 0 7 0 5 24.3 5 20.8 1.4 22.2 0 29.7 7 24.3 7"/></svg>
                </span>
            </a>
        </div>
        <!-- / .container -->
    </div>
    <!-- / __banner -->
    <div class="row">
        <div class="container">
            <div class="row__side">
                <section class="row__content">
                    <h2>About Us</h2>
                    <p>Here at Polymer Digital we love helping our customers market their services and products. With our creative designers, talented developers and unmatched customer service we can help you with all of your website needs.</p>
                    <a class="button button--line button--line--light" href="#">Learn More</a>
                </section>
                <!-- / __content -->
            </div>
            <!-- / __side -->
            <div class="row__side">
                <img alt="phone" src="assets/resources/phone.png"></div>
                <!-- / __side -->
            </div>
            <!-- / .container -->
        </div>
        <!-- / .row -->
        <div class="row">
            <div class="container">
                <div class="row__side">
                    <img alt="illustration" class="small" src="assets/resources/illustration.png"></div>
                    <!-- / __side -->
                    <div class="row__side">
                        <section class="row__content">
                            <h2>Types of companies we love to partner with</h2>
                            <p>Here at Polymer Digital we love helping our customers market their services and products. With our creative designers, talented developers and unmatched customer service we can help you with all of your website needs.</p>
                            <a class="button button--line button--line--light" href="#">Learn More</a>
                        </section>
                        <!-- / __content -->
                    </div>
                    <!-- / __side -->
                </div>
                <!-- / .container -->
            </div>
            <!-- / .row -->
        </div>
        <!-- / .intro -->